/* Detail
---------------------------------------- */
#detail-header {
	line-height: 50px;
	margin: 20px auto 0 auto;
	border-bottom: 1px solid #eee;
	h2 {
		@include inline-block();
		span {
			color: #ccc;
		}
	}
	h3 {
		color: #fff;
		background: $turquoise;
		font-size: 14px;
		font-weight: 600;
		line-height: 24px;
		@include inline-block();
		padding: 0 8px;
		margin-left: 10px;
		@include border-radius(3px);
	}
}

#detail {
	text-align: center;
	iframe {
		max-width: 100%;
		margin: 100px 0;
	}
}

#app {
	@include inline-block;
	padding: 60px 0;
}