doctype html
html
  head
    meta(charset="utf-8")
    title
    link(href="stylesheets/app.css", type="text/css", rel="stylesheet")
  body
    header
      .container
        .full-width
          a#logo(href="#")
            | #
            span wwdc
            | students
          nav#main-nav
            ul
              li
                a(href="#") Stream
              li
                a(href="#") Github
              li
                a(href="#") Support
        // full-width
      // container
    section#detail-header
      .container
        .full-width
          h2
            | Sjors Snoeren,
            span 18
          h3 iOS
          a.twitter-share-button(href="https://twitter.com/share", data-hashtags="wwdcstudents") Tweet
          script
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
          .clear
        // full-width
      // container
    // detail-header
    nav#social-nav
      ul
        li
          a(href="#")
            i.link
        li
          a(href="#")
            i.twitter
        li
          a(href="#")
            i.facebook
        li
          a(href="#")
            i.github
    .container
      section#detail
        // <iframe src="https://app.io/km1LE4?orientation=portrait&device=iphone5" height="607px" width="291px" frameborder="0" allowtransparency="true" scrolling="no" id="app"></iframe>
        iframe(src="https://app.io/06E6dj?orientation=landscape&device=ipadmini", height="600px", width="882px", frameborder="0", allowtransparency="true", scrolling="no")
      // detail
    // container
    footer
      .container
        .full-width
          p.left
            | Made with
            span &#9829;
            | by
            a(href="#") Sjors Snoeren
            | &#38;
            a(href="#") Tosin Afolabi
          p.right Not affiliated with Apple Inc.
        // full-width
      // container
    script(src="js/jquery.js")
    script(src="js/main.js")
